.foot{
    height: fit-content;
    background: linear-gradient(135deg, rgba(173, 216, 230, 1) 0%, rgba(240, 248, 255, 1) 100%);


    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.logos {
    display: flex;
    justify-content: center; /* Center the logos */
    gap: 40px; /* Space between logos */
    flex-wrap: wrap; /* Allow wrapping to next line */
}

.logo-item {
    text-align: center; /* Center the text below the icon */
}

.logo-item img {
    transition: transform 0.2s; /* Animation effect */
}

.logo-item img:hover {
    transform: scale(1.1); /* Scale effect on hover */
}

.logo-item p {
    margin-top: 10px; /* Space between icon and text */
    font-size: 16px; /* Adjust font size as needed */
}

.logos::-webkit-scrollbar {
    display: none;
}
