body {
    background: rgb(238, 238, 238);
    background: linear-gradient(135deg, rgba(238, 238, 238, 1) 0%, rgba(173, 216, 230, 1) 50%, rgba(240, 248, 255, 1) 100%);

    font-family: "IBM Plex Sans";
    /* background-image: url("Blue\ and\ Green\ Playful\ Illustrative\ Landscape\ Zoom\ Virtual\ Background.png"); */
    background-repeat: no-repeat;
    background-size: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.proj li{
    list-style: square;
}



